@font-face {
    font-family: Gagalin;
    src: url(../Midias/Fonts/Gagalin-Regular.otf);
    font-weight: bold;
}
body {
    background-color: #00b1b0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    height: 90vh;
    font-family: Gagalin;
}
h1 {
    font-size: 80px;
    margin: 10px;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}
.phineas-ferb {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 310px;
    height: 616px;
}
.perry {
    height: 500px;
    width: auto;
}
.elemento {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 300px;
}
.button {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.buttons button {
    background-color: #f2964c;
    margin: 10px;
    padding: 15px 50px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-family: Gagalin;
    font-size: 30px;
}
.infos {
    position: absolute;
    bottom: 0px;
    right: 0px;
    margin: 5px;
    display: flex;
    align-items: center;
    font-size: 22px;
}
.icon-git {
    width: 30px;
    vertical-align: middle;
    cursor: pointer;
    margin: 5px;
}