@font-face {
    font-family: Gagalin;
    src: url(../Midias/Fonts/Gagalin-Regular.otf);
    font-weight: bold;
}
body {
    background-color: #00b1b0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 95vh;
}
h1 {
    font-size: 35px;
    font-family: Gagalin;
    margin-top: 0px;
}
.hat {
    position: absolute;
    width: 500px;
    top: 24px;
    left: 515px;
}
.container {
    background-color: #f2964c;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
ul {
    list-style-type: none;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Gagalin;
    font-size: 25px;
}
li {
    margin: 10px;
}
a {
    text-decoration: none;
    color: black;
}