@font-face {
    font-family: FonteCartoon;
    src: url(../Midias/Fontes/ToonyLineFillPersonalRegular-rgMxK.otf);
}
@font-face {
    font-family: FontePhineasFerb;
    src: url(../Midias/Fontes/Phineas\ y\ Ferb.ttf)
}
@font-face {
    font-family: FonteDisney;
    src: url(../Midias/Fontes/NewWaltDisneyFontRegular-BPen.ttf)
}
@font-face {
    font-family: FonteGagalim;
    src: url(..Midias/Fontes/Gagalim-Regular.ttf);
}