nav {
    position: absolute;
    margin: 5px;
    top: 0px;
    right: 0px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.nav-icons {
    width: 20px;
    height: 20px;
    margin: 0px 5px;
}
/* ol {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0px;
    padding: 0px 5px;
} */
